{{- with $.Site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <section class="entry-content">
        <p>Kamu sudah meningkatkan jumlah traffic website kamu baik secara organik atau berbayar, tapi masih belum menunjukan pertumbuhan transaksi atau konsumen?</p>
        <br>
        <p>Kamu mencari tahu dengan membuka google analytics namun yang didapat <strong>hanya data performa</strong> tanpa tau <strong>alasan</strong> user pergi. kamu berhipotesa liar tanpa basis pengetahuan tentang perilaku konsumen, hal itu cukup berbahaya dan memakan banyak waktu.</p>
        <br>
        <p>
            di Belajarkonversi.com, Kamu akan belajar mengikuti materi secara berurutan untuk membantu memahami bagaimana mengoptimalkan konversi pengunjung secara <strong>Gratis</strong>,
            <br><br>yang akan kamu pelajari antara lain :
            <ol>
                <li>Memahami apa itu CRO (Customer Rate Optimization)</li>
                <li>Memahami manusia berpikir</li>
                <li>Memahami manusia bertindak</li>
                <li>Cara mempengaruhi manusia bertindak</li>
                <li>Memahami langkah - langkah yang dilalui dalam proses pembelian</li>
            </ol>

            kurang lebih untuk materi yang ditulis akan mencapai 22 tulisan secara berurutan. Kamu juga bisa memberikan dukungan kepada penulis dengan klik dipojok kanan atas <strong style="font-size: 20px;">&#x2B08;</strong>
         agar lebih semangat menyelesaikannya.</p>

        <br><br><p>Selamat membaca</p>
    </section>
    
    <!-- <footer class="entry-footer">
        {{/* {{ partial "social_icons.html" $.Site.Params.socialIcons }} */}}
    </footer> -->
</article>

{{- end -}}
