{{- with $.Site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <section class="entry-content">
        <p>Kamu sudah meningkatkan traffic website baik secara organik atau berbayar, tapi masih belum menunjukan pertumbuhan transaksi atau konsumen?</p>
        <br>
        <p>Kamu ingin mencari tahu dengan membuka google analytics namun yang didapat <strong>hanya data performa</strong> tanpa tau <strong>alasan</strong> user pergi.</p>
        <br>
        <p>
            hindari membuat asumsi liar dengan Belajarkonversi.com. Kamu bisa belajar memahami bagaimana mengoptimalkan konversi pengunjung menjadi konsumen secara <strong>Gratis</strong>.
            <br><br>
            yang akan kamu pelajari antara lain :
            <ol>
                <li>Memahami apa itu konversi user</li>
                <li>Memahami manusia berpikir dan bertindak</li>
                <li>Cara mempengaruhi manusia bertindak</li>
                <li>Memahami langkah - langkah yang dilalui dalam proses pembelian</li>
            </ol>

            Pada sesi pertama ini terdapat 22 tulisan yang akan diupdate secara berkala. Kamu juga bisa memberikan dukungan kepada penulis dengan klik dipojok kanan atas <strong style="font-size: 20px;">&#x2B08;</strong>
         agar lebih semangat menyelesaikannya.</p>
    </section>
    
    <!-- <footer class="entry-footer">
        {{/* {{ partial "social_icons.html" $.Site.Params.socialIcons }} */}}
    </footer> -->
</article>

{{- end -}}
