{{- with $.Site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <section class="entry-content">
        <p>{{ .Content | markdownify }}</p>
        <div class="l-wrap__text">
            <p>You know JavaScript is important.</p>
      <p>With enough JavaScript skills, you can build components from scratch without spending hours googling and modifying existing components.</p>
      <p>You can feel confident in JavaScript interviews, giving you a better chance to get the frontend development job you’ve been dreaming for.</p>
      <p><strong>But as you read JavaScript tutorials, you feel you can’t understand the material no matter how hard you try. You feel your confidence level waver.</strong></p>
      <p>You may even feel scared, stupid and utterly confused. Maybe you end up asking yourself: “Can I really learn JavaScript?”.</p>
      <p>Let me tell you, you <em>can</em> learn JavaScript.</p>
      <p>In this <strong>free email course</strong> on JavaScript, you’ll follow a roadmap to help you understand JavaScript in the shortest time possible, including:</p>
      <ul>
      <li><strong>A simple 4-step process you can follow to learn JavaScript</strong>. This process will save you <em>years</em> of wasted effort from going in the wrong direction.</li>
      <li><strong>How to avoid 3 learning traps in JavaScript</strong> that leave you feeling confused, paralyzed, or overwhelmed.</li>
      <li><strong>Lessons on how to choose what to learn</strong> (like vanilla JS, React, Node, etc.), <strong>why learn them</strong>, <strong>when to learn them</strong> and <strong>how to learn them</strong>, so you no longer feel helpless when you don’t understand documentations.</li>
      <li><strong>Instructions on what to learn</strong> – <strong>and simple questions to test your understanding</strong> – so you know your JavaScript fundamentals are strong enough to tackle any JavaScript challange you may face.</li>
      </ul>
      <p>I invite you to grab your JavaScript Roadmap if you’re interested to learn JavaScript without feeling afraid, confused, or overwhelmed. Leave your name and email address below, and you’ll get everything sent to your inbox over the next three weeks.</p>
      
          </div>
    </section>
    
    <footer class="entry-footer">
        {{/* {{ partial "social_icons.html" $.Site.Params.socialIcons }} */}}
    </footer>
</article>

{{- end -}}
