.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
}

.nav a {
    display: block;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 999;
    background: var(--code-bg);
}

.logo,
#menu {
    display: flex;
    margin: auto var(--gap);
}

.logo {
    flex-wrap: inherit;
}

.logo a {
    font-size: 24px;
    font-weight: 700;
}

.logo a img {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}

#theme-toggle svg {
    height: 18px;
}

button#theme-toggle {
    font-size: 26px;
    margin: auto 4px;
}

body.dark #moon {
    vertical-align: middle;
    display: none;
}

body:not(.dark) #sun {
    display: none;
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}

#menu li + li {
    margin-inline-start: var(--gap);
}

#menu a {
    font-size: 16px;
}

#menu .active {
    font-weight: 500;
    border-bottom: 2px solid currentColor;
}

.lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
    margin: auto 4px;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit;
}

.lang-switch a {
    margin: auto 3px;
    font-size: 16px;
    font-weight: 500;
}

.logo-switches {
    flex-wrap: inherit;
}


.donate {
    display: block;
    width: 150px;
    height: 40px;
    font-size: 14px;
    color: #fff;
    background-color: #69A551;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    margin: auto;
    font-weight: bold;
    -webkit-animation: btnWiggle 5s infinite;
    -moz-animation: btnWiggle 5s infinite;
    -o-animation: btnWiggle 5s infinite;
    animation: btnWiggle 5s infinite;
  }
  
  /* animation */
  @-webkit-keyframes btnWiggle {
      0% {-webkit-transform: rotate(0deg);}
      2% {-webkit-transform: rotate(-2deg);}
      3.5% {-webkit-transform: rotate(2deg);}
      5% {-webkit-transform: rotate(0deg);}
      100% {-webkit-transform: rotate(0deg);}
  }
  @-o-keyframes btnWiggle {
      0% {-webkit-transform: rotate(0deg);}
      2% {-webkit-transform: rotate(-1deg);}
      3.5% {-webkit-transform: rotate(1deg);}
      5% {-webkit-transform: rotate(0deg);}
      100% {-webkit-transform: rotate(0deg);}
  }
  @keyframes btnWiggle {
      0% {-webkit-transform: rotate(0deg);}
      2% {-webkit-transform: rotate(-1deg);}
      3.5% {-webkit-transform: rotate(1deg);}
      5% {-webkit-transform: rotate(0deg);}
      100% {-webkit-transform: rotate(0deg);}
  }